:root {
  --primary-color: #293241;
  --secondary-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  padding: 15px;
}

#main-label {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  background-color: transparent;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;
}

button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button:active {
  transform: scale(0.95);
}

/*====================================================================*/

#length-controllers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#timer-length-control {
  width: 165px;
}

#break-label,
#session-label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#control-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#control-buttons p {
  font-size: 2.2rem;
  margin: 0;
}

/*====================================================================*/

#timer {
  padding: 15px;
  border: 3px solid var(--secondary-color);
  border-radius: 15px;
}

#timer-label {
  font-size: 2.5rem;
}

#time-left {
  font-size: 6rem;
  margin: 0;
  margin-bottom: 15px;
}

#timer-buttons {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
}

#start_stop {
  width: 110px;
}

#reset {
  width: 70px;
}
