@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400');
@import "variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;

  scroll-behavior: smooth;
}


//--------------- Test list styles ---------------//

ul {
  display: flex;
  
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-right: 5px;
  }
}

//-----------------------------------------------//

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: $tablet-width)  {
  .main-wrapper {
    width: 95%;
    margin-left: auto;
  }
}

@media screen and (min-width: $desktop-width)  {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
