:root {
  --primary-color: #1e1f26;
  --secondary-color: #edf2f4;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title,
#description {
  color: var(--secondary-color);
  text-align: center;
}

#description {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1500px;
}

.tile ~ text {
  font-size: 0.7rem;
  pointer-events: none;
}

#legend {
  position: absolute;
  top: 2px;
  left: 1175px;
  min-width: 120px;
  min-height: 170px;
}

#legend text {
  fill: var(--secondary-color);
}

#tooltip {
  z-index: 10;
  padding: 8px;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(30, 31, 38, 0.5);
  border-radius: 3px;
}

#tooltip p:first-child {
  font-weight: bold;
}
