:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  margin: 1px;
  cursor: pointer;
  background-color: red;
  border: 1px solid black;
}
