:root {
  --primary-color: #1d3557;
  --secondary-color: #f1faee;
  --tertiary-color: #e63946;
  --background: #457b9d;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

#drum-machine {
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--primary-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 462px;
}

#display {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
  padding: 5px;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-radius: 5px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 150px;
  height: 150px;
  margin: 2px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}
