.header { 
  position: relative;
  
  height: 100vh;

  background-image: url(/img/main-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  &__menu {
    z-index: 1;

    position: fixed;

    width: 100%;

    background: #F8FAF9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: 0.3s;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 150px;
    margin: 10px auto;

    color: #000;

    transition: 0.3s;
    
    &--text {
      @extend %reset;
      font-family: 'Germania One', cursive;
      font-size: 3.3rem;
    }
    
    &:hover {
      color: $color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .closed {
    display: none;
  }

  &__nav {

    &--list {
    @extend %reset;
    width: 100%;
    margin: 5px auto;

    transition: 0.5s;

      li {
        border-bottom: 1px solid;
      }

      & :last-child {
        border-bottom: none;
      }
    } 
  }
}

.nav-link {
  display: block;
  
  text-align: center;
  font-size: 1.3rem;

  height: 50px;
  padding-top: 12px;

  color: #000;

  transition: 0.2s; 

  &:hover {
    color: $color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width)  {
  
  .header .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .closed {
      display: block;
    }
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {

    &--list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      margin: 0;

      li {
        border: none;
      }
    }
  }

  .nav-link {
    display: block;
    
    height: 64px;
    margin-left: 25px;
    padding-top: 20px;

    &:hover {
      border-bottom: 5px solid $color;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .nav-link {
    margin-left: 70px;
  }
}