:root {
  --primary-color: #293241;
  --secondary-color: #ffffff;
  --tertiary-color: #98c1d9;
  --fourth-color: #3d5a80;
  --alert-color: #e63946;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

#calculator {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--fourth-color);
  box-shadow: 1px 1px 8px black;
}
