#display {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  width: 252px;
  height: 64px;
  margin-bottom: 10px;
  padding: 0 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
}

.reduced-display-font {
  font-size: 1.5rem;
}

.highly-reduced-display-font {
  font-size: 1.3rem;
}

#expression,
#value {
  margin-left: auto;
}

#expression {
  font-size: 1.1rem;
  height: 17px;
  margin-top: 2px;
  opacity: 0.8;
}

#value {
  line-height: 44px;
}
