@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", Helvetica, sans-serif;
  line-height: 25px;
  min-width: 320px;

  margin: 0;
}

#main {
  background: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);

  border: 1px solid transparent;
}

h2,
p {
  color: #00001a;
}

p {
  font-style: italic;
}

#img-div {
  max-width: 925px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 7px;

  background-color: #f2f2f2;

  border: 0px solid;
  border-radius: 10px;
}

#image {
  display: block;

  max-width: 100%;
  height: auto;
  margin: auto;
}

#title,
#img-caption {
  text-align: center;

  color: #00001a;
}

#img-caption {
  font-size: 1.4rem;
}

#tribute-info {
  position: relative;

  max-width: 1005px;
  margin: 0 auto;
}

#tribute-info::after {
  content: "";
  position: absolute;
  top: -25px;
  bottom: -27px;
  left: 50%;

  width: 6px;
  margin-left: -3px;

  background-color: #f2f2f2;
}

.container {
  position: relative;

  width: 50%;   
  margin-top: 25px;
  padding: 10px 40px;

  background-color: inherit;
}

.container::after {
  z-index: 1;

  content: " ";
  position: absolute;
  top: 15px;  
  right: -17px;  

  width: 25px;
  height: 25px;

  background-color: #00001a;
  border: 4px solid #f2f2f2;
  border-radius: 50%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  z-index: 1;

  content: "";
  position: absolute;
  top: 22px;
  right: 30px;

  width: 0;
  height: 0;

  border: medium solid #f2f2f2;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f2f2f2;
}

.right::before {
  z-index: 1;

  content: "";
  position: absolute;
  top: 22px;
  left: 30px;

  width: 0;  
  height: 0;

  border: medium solid #f2f2f2;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f2f2f2 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  position: relative; 

  padding: 20px 25px;

  background-color: #f2f2f2;
  border-radius: 6px;
}

footer h3 {
  text-align: center;
  color: #00001a; 
   
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;

  background-color: #f2f2f2;
  border: 0px solid;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {

  #tribute-info::after {
    left: 31px;
  }
  
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .container::before {
    left: 60px;

    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f2f2f2 transparent transparent;
  }

  .left::after, 
  .right::after {
    left: 15px;
  }
  
  .right {
    left: 0%;
  }
  
   footer h3 {
    width: 90%;
    margin-left: 28px;

    border-radius: 0 5px 5px 5px;
  }
}