:root {
  --primary-color: #2b2d42;
  --secondary-color: #edf2f4;
  --alert-color: #d90429;

  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h1 {
  text-align: center;
}

h1,
h3 {
  margin: 10px 0;
}

h3 {
  font-size: 1.3rem;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 68px);
}

.column:first-child {
  margin-right: 15px;
}

#editor,
#preview {
  height: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#editor {
  resize: none;
  border: none;
}

#editor:focus {
  outline-color: var(--alert-color);
}

#preview {
  overflow: auto;
  padding: 2px;
}
