:root {
  background-color: gray;
}

*,
:before,
:after {
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: space-between;
}

#editor,
#preview {
  flex: 1;
  height: 90vh;
}

#editor {
  resize: none;
  border: none;
  margin-right: 10px;
}

#preview {
  overflow: auto;
  background-color: #fff;
}
